.button {
  background-color: aliceblue;
  border-radius: 50%;
  padding: 25px;
  font-size: 28px;
  margin-bottom: 30px;
  cursor: pointer;
  text-align: center;
  transition: all 0.5s ease;
  position: absolute;
  right: 1rem;
  top: 1rem;
  box-shadow: 0 0 30px rgb(160, 160, 160);
}

.button:hover {
  background-color: rgb(0, 68, 255);
  color: aliceblue;
}

.sidebar {
  width: 270px;
  height: 100vh;
  background-color: aliceblue;
  padding: 30px;
  border-radius: 0 15px 15px 0;
  transition: all 0.5s ease;
  box-shadow: 0 0 20px #ddd;
}

.sidebar .profile {
  width: 240px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.pro-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.pro-info {
  width: 190px;
  margin-left: 15px;
  opacity: 1;
  transition: all 0.5s 0.3s ease;
}

.sidebar ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  padding: 10px 0;
  margin: 0 0 10px;
  font-size: 18px;
  position: relative;
  transition: all 0.5s ease;
  border-radius: 3px;
  color: black;
  font-weight: 500;
}


.sidebar ul li a:hover {
  color: rgb(0, 68, 255);
  background-color: rgb(219, 230, 255);
}

.sidebar ul li a .icon {
  font-size: 28px;
  width: 40px;
  height: 50px;
  display: inline-block;
  transition: all 0.2s ease;
}

.item {
  width: 170px;
  display: inline-block;
  vertical-align: text-bottom;
  transition: all 0.5s 0.3s ease;
}

.count {
  position: absolute;
  top: 6px;
  right: 6px;
  background-color: rgb(0, 68, 255);
  color: aliceblue;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 10px;
  transition: all 0.5s ease;
}


.sidebar ul li {
  list-style: none;
}

section.active .sidebar {
  width: 80px;
  padding: 30px 25px;
}

section.active .pro-info {
  margin-right: 0;
}

section.active .sidebar ul li a {
  width: 50px;
  height: 50px;
  margin: 0 0 10px;
  padding: 10px 10px;
}

section.active .icon {
  text-align: center;
}

section.active .item {
  width: 0;
}

section.active .item,
section.active .pro-info {
  opacity: 0;
  transition: all 0.2s ease;
}

section.active .count {
  top: 2px;
  right: 2px;
  padding: 5px 7px;
  font-size: 8px;
}

ul {
  padding-left: 0;
}
